.cuadricula {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 400px;
    height: 400px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4, 80px);
}

.cuadro {
    width: 80px;
    height: 80px;
    border-style: double;
    border-color: #FFFCA8;
}

h1,
h2 {
  text-align: center;
}
h1 {
  font-size: 50px;
}

