.cuadricula {
    display: grid;
    max-width: 80vw;
    min-height: 90vh;
    border: 1px solid blue;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cuadro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vh;
    border: 1px solid red;
}

