.cuadricula {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 400px;
    height: 400px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4, 80px);
}

.cuadro {
    width: 80px;
    height: 80px;
    border-style: double;
    border-color: #FFFCA8;
}

h1,
h2 {
  text-align: center;
  text-shadow: #FFFCA8 2px 2px 0px, #9C9C9C 4px 4px 0px, 2px 2px 2px rgba(0,0,0,0);
}
h1 {
  font-size: 50px;
}



.img-marvel {
  height: 75px;
  width: 75px;
  background-size: cover;

}